<div style="text-align: center; margin: 0 auto;">
    <div class="row">
        <h3>Cycling</h3>

        <input type="number" class="col-md-8 form-control-plaintext" placeholder="Enter amount of cycles" ng-model="cycleNumOfTimes">
        <button ng-click="runCycles()" class="btn btn-outline-secondary">Start Cycling</button>
    </div>

    <div class="row">

        <h3>Turn on</h3>

        <button class="btn btn-outline-secondary" ng-repeat="light in lights track by $index" ng-click="toggleLight($index)">
            <span ng-if="light">On</span>
            <span ng-if="!light">Off</span>
        </button>

    </div>

    <div class="row">

        <button class="btn btn-red btn-lg" ng-click="shutdownAll()">Turn off the leds</button>
    </div>

</div>
